* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}
body {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
button {
    /* all: unset; */
    cursor: pointer;
}
.fancy {
   width: 350px;
   height: 400px;
   border-radius: 12px;
   border: solid black 1px;
   
}
.main, .number, .refresh {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 700;
}
.number {
    font-size: 7rem;
}
.refresh {  
    margin-bottom: 20px;
}
.fa-arrows-rotate, .fa-minus, .fa-plus {
    font-size: 3rem;
    
}
.operators {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    width: 100%;
    height: 97.5px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
